.wrap {
  padding: 1rem;
  border: 0.1rem solid var(--color-secondary);
  border-radius: 0.5rem;
}

.imgFull {
  width: 100%;
  margin-bottom: 1rem;
}

.imgLoading {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

.loadingTitle {
  position: relative;
}

.loadingEffect {
  position: absolute;
  top: 0;
  left: 0;
  right: 20%;
  bottom: 0;
  background-color: var(--color-foreground);
  opacity: 0.5;
}

.loadingEffect.small {
  right: 40%;
}
